Checks: "readability-*,cppcoreguidelines-*,hicpp-*"
CheckOptions:
  - key:    readability-identifier-naming.GlobalConstantCase
    value:  CamelCase
  - key:    readability-identifier-naming.GlobalConstantPrefix
    value:  k
  - key:    readability-identifier-naming.GlobalVariableCase
    value:  CamelCase